.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1{
    font-family: 'Gotham';
    color: var(--medium-text);
    font-weight: 700;
}